openapi: 3.1.0
info:
  title: SentinAI ChatGPT Actions API
  version: 0.1.0
  description: >-
    ChatGPT Actions용 SentinAI 운영 API (MVP). 기본 정책은 안전 우선이며,
    execute/rollback은 confirmToken이 필요합니다.
servers:
  - url: https://sentinai.tokamak.network/thanos-sepolia/thanos-sepolia
    description: Thanos Sepolia Network (Production)
  - url: http://localhost:3002/thanos-sepolia
    description: Local Development (port 3002)
security:
  - bearerAuth: []
tags:
  - name: operations
    description: 운영 계획/검증/실행/롤백
  - name: system
    description: 상태 및 작업 조회
  - name: network
    description: L1/L2 네트워크 상태 조회
  - name: scaling
    description: 스케일링 상태 및 제어
  - name: anomalies
    description: 이상 감지 이벤트
  - name: cost
    description: 비용 분석 및 최적화
  - name: agent
    description: 에이전트 루프 및 결정 이력
  - name: policy
    description: 자율화 정책 조회/변경
  - name: nlops
    description: 자연어 운영 명령
paths:
  /v1/ops/plan:
    post:
      tags: [operations]
      summary: 운영 변경 계획 생성
      description: 영향 리소스, 위험도, 권장 액션을 포함한 실행 계획을 생성합니다.
      operationId: createOpsPlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanRequest'
      responses:
        '200':
          description: 계획 생성 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/ops/verify:
    post:
      tags: [operations]
      summary: 계획 사전 검증
      description: 권한/정책/리소스 상태를 검증하고 실행 가능 여부를 반환합니다.
      operationId: verifyOpsPlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
      responses:
        '202':
          description: 검증 작업이 접수됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyQueuedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/ops/execute:
    post:
      tags: [operations]
      summary: 계획 실행
      description: >-
        운영 변경을 실행합니다. 기본은 dry-run 권장이며, 실제 실행 시 confirmToken이 필수입니다.
      operationId: executeOpsPlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteRequest'
      responses:
        '202':
          description: 실행 작업이 접수됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/ops/rollback:
    post:
      tags: [operations]
      summary: 변경 롤백
      description: >-
        최근 변경 또는 지정 릴리즈를 롤백합니다. 롤백 실행에는 confirmToken이 필수입니다.
      operationId: rollbackOpsChange
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RollbackRequest'
      responses:
        '202':
          description: 롤백 작업이 접수됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RollbackResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/ops/jobs/{jobId}:
    get:
      tags: [system]
      summary: 작업 상태 조회
      description: jobId 기준으로 비동기 작업 진행 상태와 결과 요약을 조회합니다.
      operationId: getOpsJob
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/ops/status:
    get:
      tags: [system]
      summary: 서비스 상태 조회
      description: Adapter API 및 핵심 의존성(AWS/K8s/MCP) 상태를 반환합니다.
      operationId: getOpsStatus
      responses:
        '200':
          description: 상태 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/network/metrics:
    get:
      tags: [network]
      operationId: getNetworkMetrics
      summary: "L1/L2 네트워크 실시간 지표 조회"
      description: >-
        현재 L1/L2 블록 높이, TxPool 크기, CPU 사용률, 컴포넌트 상태를 반환합니다.
        동기화 이상 감지나 현재 시스템 부하 파악에 사용하세요.
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkMetricsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/network/l1-failover:
    get:
      tags: [network]
      operationId: getL1FailoverStatus
      summary: "L1 RPC 페일오버 상태 조회"
      description: L1 RPC 엔드포인트 가용성, 페일오버 이력, 현재 활성 URL을 반환합니다.
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/L1FailoverResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/scaling/status:
    get:
      tags: [scaling]
      operationId: getScalingStatus
      summary: "스케일링 상태 및 AI 예측 조회"
      description: >-
        현재 vCPU 할당, 자동 스케일링 상태, 쿨다운 시간, AI 예측 결과를 반환합니다.
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalingStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/scaling/trigger:
    post:
      tags: [scaling]
      operationId: triggerScaling
      summary: "수동 스케일링 트리거 (operator 이상)"
      description: >-
        특정 vCPU 값으로 즉시 스케일링합니다.
        기본 dryRun=true로 안전 우선. 실제 실행 시 dryRun=false + operator 역할 필요.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScalingTriggerRequest'
      responses:
        '202':
          description: 스케일링 요청이 접수됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalingTriggerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/anomalies:
    get:
      tags: [anomalies]
      operationId: listAnomalies
      summary: "이상 감지 이벤트 목록 조회"
      description: 최근 이상 감지 이벤트를 조회합니다. 심각도별 필터링 가능.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalyListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/cost/report:
    get:
      tags: [cost]
      operationId: getCostReport
      summary: "vCPU 비용 분석 보고서"
      description: 지정된 기간의 비용 분석, 절감율, 최적화 추천을 반환합니다.
      parameters:
        - name: days
          in: query
          description: "분석 기간 (기본 7일, 최대 30일)"
          schema:
            type: integer
            default: 7
            maximum: 30
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostReportResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/agent/loop:
    get:
      tags: [agent]
      operationId: getAgentLoopStatus
      summary: "에이전트 루프 사이클 이력 조회"
      description: 에이전트 자동화 루프의 최근 사이클, 스케일링 결정, 성능 메트릭을 반환합니다.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentLoopResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/agent/decisions:
    get:
      tags: [agent]
      operationId: listAgentDecisions
      summary: "에이전트 결정 이력 조회"
      description: 에이전트 루프의 추론 및 결정 로그를 조회합니다.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: severity
          in: query
          description: "이상 심각도 필터 (low|medium|high|critical)"
          schema:
            type: string
            enum: [low, medium, high, critical]
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDecisionsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/policy/autonomy-level:
    get:
      tags: [policy]
      operationId: getAutonomyLevel
      summary: "자율화 레벨 정책 조회"
      description: 현재 시스템 자율화 레벨(A0~A5) 및 제약 조건을 반환합니다.
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutonomyPolicyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [policy]
      operationId: setAutonomyLevel
      summary: "자율화 레벨 변경 (admin 전용)"
      description: >-
        시스템 자율화 수준을 A0~A5로 변경합니다. admin 역할만 허용.
        A0=완전수동, A5=완전자율.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAutonomyLevelRequest'
      responses:
        '200':
          description: 업데이트 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutonomyPolicyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/nlops:
    post:
      tags: [nlops]
      operationId: sendNLOpsCommand
      summary: "자연어 운영 명령 실행 (operator 이상)"
      description: >-
        한국어/영어로 운영 명령을 전송합니다.
        위험한 액션은 needsConfirmation=true를 반환하며,
        그 경우 동일 메시지에 confirmAction=true를 추가하여 재전송하세요.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NLOpsRequest'
      responses:
        '200':
          description: 요청 처리 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NLOpsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    TargetRef:
      type: object
      required: [environment, platform, service]
      properties:
        environment:
          type: string
          enum: [staging, prod]
        platform:
          type: string
          enum: [k8s, aws]
        cluster:
          type: string
          description: K8s cluster name (k8s인 경우 권장)
        namespace:
          type: string
          description: K8s namespace
        service:
          type: string
          description: workload/service identifier
        region:
          type: string
          description: AWS region (aws인 경우)

    PlanRequest:
      type: object
      required: [requestId, action, target]
      properties:
        requestId:
          type: string
        action:
          type: string
          enum:
            - stabilize_throughput
            - recover_sequencer_path
            - reduce_cost_idle_window
            - restore_l1_connectivity
            - protect_critical_eoa
          description: "지원되는 5가지 운영 intent"
        target:
          $ref: '#/components/schemas/TargetRef'
        intent:
          type: string
          description: 사용자 의도의 자연어 설명
        parameters:
          type: object
          additionalProperties: true
        dryRun:
          type: boolean
          default: true

    PlanResponse:
      type: object
      required: [requestId, planId, status, riskLevel, summary, confirmToken]
      properties:
        requestId:
          type: string
        planId:
          type: string
        status:
          type: string
          enum: [planned]
        riskLevel:
          type: string
          enum: [low, medium, high]
        summary:
          type: string
        proposedChanges:
          type: array
          items:
            type: string
        dryRun:
          type: boolean
        createdAt:
          type: string
          format: date-time
        confirmToken:
          type: string
          description: Execute/Rollback 최종 확인 토큰 (Plan 단계에서 발급)

    VerifyRequest:
      type: object
      required: [requestId, planId]
      properties:
        requestId:
          type: string
        planId:
          type: string
        target:
          $ref: '#/components/schemas/TargetRef'

    VerifyResponse:
      type: object
      required: [requestId, planId, verified, checks]
      properties:
        requestId:
          type: string
        planId:
          type: string
        verified:
          type: boolean
        checks:
          type: array
          items:
            type: object
            required: [name, result]
            properties:
              name:
                type: string
              result:
                type: string
                enum: [pass, fail, warn]
              detail:
                type: string
        blockingIssues:
          type: array
          items:
            type: string

    VerifyQueuedResponse:
      type: object
      required: [requestId, planId, jobId, status, accepted]
      properties:
        requestId:
          type: string
        planId:
          type: string
        jobId:
          type: string
        accepted:
          type: boolean
        status:
          type: string
          enum: [queued, running]
        summary:
          type: string

    ExecuteRequest:
      type: object
      required: [requestId, planId, target, confirmToken]
      properties:
        requestId:
          type: string
        planId:
          type: string
        target:
          $ref: '#/components/schemas/TargetRef'
        confirmToken:
          type: string
          description: 최종 실행 확인 토큰
        dryRun:
          type: boolean
          default: true
        reason:
          type: string

    ExecuteResponse:
      type: object
      required: [requestId, jobId, status, accepted]
      properties:
        requestId:
          type: string
        jobId:
          type: string
        accepted:
          type: boolean
        status:
          type: string
          enum: [queued, running]
        dryRun:
          type: boolean
        summary:
          type: string

    RollbackRequest:
      type: object
      required: [requestId, confirmToken]
      properties:
        requestId:
          type: string
        confirmToken:
          type: string
          description: 최종 롤백 확인 토큰
        operationId:
          type: string
          description: 롤백 대상 autonomous operationId
        sourceJobId:
          type: string
          description: operationId를 추출할 이전 execute jobId (권장)
        target:
          $ref: '#/components/schemas/TargetRef'
        dryRun:
          type: boolean
          default: true
        reason:
          type: string
      description: operationId 또는 sourceJobId 중 하나는 필수입니다.

    RollbackResponse:
      type: object
      required: [requestId, jobId, status, accepted]
      properties:
        requestId:
          type: string
        jobId:
          type: string
        accepted:
          type: boolean
        status:
          type: string
          enum: [queued, running]
        dryRun:
          type: boolean
        operationId:
          type: string
        summary:
          type: string

    JobStatusResponse:
      type: object
      required: [jobId, type, status, startedAt]
      properties:
        jobId:
          type: string
        type:
          type: string
          enum: [execute, rollback, verify]
        status:
          type: string
          enum: [queued, running, succeeded, failed, cancelled]
        progress:
          type: integer
          minimum: 0
          maximum: 100
        summary:
          type: string
        logs:
          type: array
          items:
            type: string
        startedAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        finishedAt:
          type: string
          format: date-time
        requestId:
          type: string
        planId:
          type: string
        operationId:
          type: string
        dryRun:
          type: boolean
        result:
          description: 작업 결과(타입별 상이)
        error:
          type: object
          properties:
            message:
              type: string

    ServiceStatusResponse:
      type: object
      required: [status, timestamp, dependencies]
      properties:
        status:
          type: string
          enum: [ok, degraded, down]
        timestamp:
          type: string
          format: date-time
        version:
          type: string
        dependencies:
          type: array
          items:
            type: object
            required: [name, status]
            properties:
              name:
                type: string
              status:
                type: string
                enum: [ok, degraded, down]
              detail:
                type: string

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
            requestId:
              type: string

    NetworkMetricsResponse:
      type: object
      description: "L1/L2 네트워크 실시간 지표. chain.type으로 체인 종류 확인 가능."
      properties:
        timestamp:
          type: string
          format: date-time
        chain:
          type: object
          description: "활성 체인 플러그인 정보"
          properties:
            type:
              type: string
            displayName:
              type: string
            mode:
              type: string
        metrics:
          type: object
          description: "핵심 블록체인 지표"
          properties:
            l1BlockHeight:
              type: integer
              description: "L1 (Ethereum) 블록 높이"
            blockHeight:
              type: integer
              description: "L2 블록 높이"
            txPoolCount:
              type: integer
              description: "트랜잭션 풀 대기 건수"
            cpuUsage:
              type: number
              description: "CPU 사용률 (%)"
            gethVcpu:
              type: number
              description: "현재 할당된 vCPU 수"
            syncLag:
              type: integer
              description: "동기화 지연 (초)"
            gasUsage:
              type: number
              description: "가스 사용률 (%)"
        components:
          type: array
          description: "K8s 컴포넌트 상태 목록"
          items:
            type: object
            additionalProperties: true
        status:
          type: string
          description: "전체 상태 (healthy|degraded|error)"
        eoaBalances:
          type: object
          description: "운영 지갑 잔고"
        derivationLag:
          type: object
          description: "유도 지연 정보"

    L1FailoverResponse:
      type: object
      description: "L1 RPC 페일오버 상태"
      properties:
        activeUrl:
          type: string
          description: "현재 활성 RPC 엔드포인트"
        failoverCount:
          type: integer
          description: "페일오버 발생 횟수"
        healthy:
          type: boolean
          description: "L1 RPC 가용성"
        lastFailover:
          type: string
          format: date-time
          nullable: true
          description: "마지막 페일오버 시각"
        poolSize:
          type: integer
          description: "페일오버 엔드포인트 풀 크기"
        status:
          type: string
          description: "페일오버 상태 (ok|degraded|down)"

    ScalingStatusResponse:
      type: object
      description: "현재 스케일링 상태와 AI 예측"
      properties:
        currentVcpu:
          type: number
          description: "현재 할당된 vCPU (1|2|4|8)"
        autoScalingEnabled:
          type: boolean
        simulationMode:
          type: boolean
          description: "true이면 실제 K8s 변경 없이 시뮬레이션만 수행"
        cooldownRemaining:
          type: integer
          description: "다음 스케일링까지 대기 시간 (초)"
        lastScalingTime:
          type: string
          format: date-time
          nullable: true
        scalingScore:
          type: number
          description: "0~100 스케일링 스코어"
        prediction:
          $ref: '#/components/schemas/PredictionInfo'
        zeroDowntime:
          type: object
          description: "무중단 스케일링 상태"

    PredictionInfo:
      type: object
      nullable: true
      description: "AI 예측 결과. null이면 데이터 부족"
      properties:
        predictedVcpu:
          type: number
        confidence:
          type: number
          description: "0~1 사이 신뢰도"
        trend:
          type: string
          enum: [stable, increasing, decreasing]
        recommendedAction:
          type: string
          enum: [scale_up, scale_down, maintain]
        reasoning:
          type: string

    ScalingTriggerRequest:
      type: object
      required: [targetVcpu]
      properties:
        targetVcpu:
          type: integer
          enum: [1, 2, 4, 8]
          description: "목표 vCPU. 1=Idle, 2=Normal, 4=High, 8=Emergency"
        reason:
          type: string
          description: "스케일링 이유 (감사 로그 기록)"
        dryRun:
          type: boolean
          default: true
          description: "true이면 실제 K8s 변경 없이 계획만 반환"

    ScalingTriggerResponse:
      type: object
      properties:
        success:
          type: boolean
        jobId:
          type: string
          nullable: true
        message:
          type: string

    AnomalyListResponse:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/AnomalyEvent'
        total:
          type: integer
        activeCount:
          type: integer
          description: "현재 활성 이상 이벤트 수"
        limit:
          type: integer
        offset:
          type: integer

    AnomalyEvent:
      type: object
      properties:
        id:
          type: string
        detectedAt:
          type: string
          format: date-time
        severity:
          type: string
          enum: [low, medium, high, critical]
        summary:
          type: string
        status:
          type: string
          enum: [active, resolved]

    CostReportResponse:
      type: object
      description: "vCPU 비용 분석 보고서"
      properties:
        period:
          type: string
          description: "분석 기간 (e.g., '2026-02-18 ~ 2026-02-25')"
        days:
          type: integer
        totalCost:
          type: number
          description: "총 비용 ($)"
        fixedCost:
          type: number
          description: "고정 비용 ($, 4vCPU 기준)"
        dynamicCost:
          type: number
          description: "변동 비용 ($, 실제 사용)"
        savingsRate:
          type: number
          description: "절감율 (%)"
        recommendations:
          type: array
          items:
            type: string
          description: "비용 최적화 추천 2~3건"
        breakdown:
          type: object
          description: "시간/주별 상세 비용"

    AgentLoopResponse:
      type: object
      description: "에이전트 루프 현황"
      properties:
        scheduler:
          type: object
          description: "스케줄러 설정 (interval, mode 등)"
        lastCycle:
          type: object
          description: "마지막 사이클 상세 정보"
        recentCycles:
          type: array
          description: "최근 N개 사이클 요약"
          items:
            type: object
            additionalProperties: true
        totalCycles:
          type: integer
        config:
          type: object
          description: "에이전트 루프 설정"
        enabled:
          type: boolean

    AgentDecisionsResponse:
      type: object
      properties:
        traces:
          type: array
          items:
            type: object
          description: "결정 이력 배열"
        total:
          type: integer
        limit:
          type: integer

    AutonomyPolicyResponse:
      type: object
      description: "자율화 레벨 정책. A0=완전수동, A5=완전자율"
      properties:
        policy:
          type: object
          properties:
            level:
              type: string
              enum: [A0, A1, A2, A3, A4, A5]
              description: "A0=수동전용, A1=권고, A2=dryRun허용, A3~A5=자율도 증가"
            minConfidenceDryRun:
              type: number
            minConfidenceWrite:
              type: number

    SetAutonomyLevelRequest:
      type: object
      required: [level]
      properties:
        level:
          type: string
          enum: [A0, A1, A2, A3, A4, A5]

    NLOpsRequest:
      type: object
      required: [message]
      properties:
        message:
          type: string
          description: "자연어 운영 명령 (한국어/영어 모두 지원, 최대 500자)"
          maxLength: 500
        confirmAction:
          type: boolean
          description: "위험한 액션 최종 확인 (needsConfirmation=true인 응답에 true로 재전송)"

    NLOpsResponse:
      type: object
      description: "NLOps 처리 결과. needsConfirmation=true이면 confirmAction=true로 재요청 필요"
      properties:
        intent:
          type: object
          description: "분류된 인텐트 (query/scale/analyze/config/explain/rca/unknown)"
        executed:
          type: boolean
        response:
          type: string
          description: "자연어 응답 메시지"
        needsConfirmation:
          type: boolean
          description: "true이면 위험 액션 확인 필요"
        confirmationMessage:
          type: string
          nullable: true
        data:
          type: object
          additionalProperties: true
          nullable: true

  responses:
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: 인증 실패
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: 권한 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: 리소스를 찾을 수 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
