# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out

# Environment
.env
.env.local
.env*.local

# Git
.git
.gitignore

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Documentation
README.md
docs

# CI/CD
.github

# Tests
**/*.test.ts
**/*.test.tsx
**/__tests__
