database:
  server_url: postgres://postgres:notsecurepassword@host.docker.internal:5432/zksync_server_localhost_zklocal2
  prover_url: postgres://postgres:notsecurepassword@host.docker.internal:5432/prover_local
l1:
  l1_rpc_url: http://host.docker.internal:8545
consensus:
  validator_key: validator:secret:bls12_381:<REPLACE_WITH_CHAIN_VALIDATOR_KEY>
  node_key: node:secret:ed25519:<REPLACE_WITH_CHAIN_NODE_KEY>
