# Required
DEPLOYER_PRIVATE_KEY=0x679d88a9fb565707c0aff9434f9c141fee0b197455c12a52868b5d94bac694f9

# Optional (these will be randomly generated if not provided)
BATCH_POSTER_PRIVATE_KEY=
VALIDATOR_PRIVATE_KEY=

# (Optional) Infura RPC endpoint for the parent chain (Arbitrum Sepolia), if not provided, the script might fail with timeout
PARENT_CHAIN_RPC=https://arbitrum-sepolia.infura.io/v3/0bd1a0efcfb443449508e42730a955d0