@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes loading-bar {
  0% { width: 0%; transform: translateX(0); }
  50% { width: 100%; transform: translateX(0); }
  100% { width: 0%; transform: translateX(100%); opacity: 0; }
}

.animate-loading-bar {
  animation: loading-bar 1.5s infinite ease-in-out;
}
